<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>


  <!--   PHOTO-->

<form action="/fileUpload/uploadfile" enctype="multipart/form-data" method="POST">
  <input type="file" name="myFile" accept="image/*" />
  <input type="submit" value="Upload Photo"/>
</form>



</body>
</html>
